<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peliculas Detalle</title>
</head>
<body>

   
    <p>Nombre de la pelicula: <i>{{ pelicula.nombre }}</i></p>
    <p>Duracion: <i>{{ pelicula.duracion }}</i></p>
    <p>Critica: <i>{{ pelicula.critica }}</i></p>
    <p>
        <a href="{% url 'List' %}">Regresar</a>
    </p>

    
</body>
</html>