<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peliculas_List</title>
</head>
<body>

    <h1>Peliculas del blog</h1>
    <ul>
        {% for pelicula in object_list %}

            <li>
                <p>NOMBRE: {{ peliculas.nombre }} </p>
                <p> 
                    <a href="{% url 'Detail' pelicula.id %}">Ver</a> | 
                    <a href="{% url 'Edit' pelicula.id %}">Editar</a> | 
                    <a href="{% url 'Delete' pelicula.id %}">Borrar</a> 
                
                </p> 
            </li>

        {% endfor %}
    </ul>

    <a href="{% url 'New'  %}">Nuevo</a> | 

    <br>

    <button>
        <a href="../peliculas">Volver</a>
    </button>

</body>
</html>
