<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Series Detalle</title>
</head>
<body>

   
    <p>Nombre de la serie: <i>{{ serie.nombre }}</i></p>
    <p>Cantidad de temporadas: <i>{{ series.cantidad_de_temporadas }}</i></p>
    <p>Valoracion: <i>{{ serie.valoracion }}</i></p>
    <p>
        <a href="{% url 'List' %}">Regresar</a>
    </p>

    
</body>
</html>